/* Nadpis */
h1 {
	width: 100%;
	font-size: 100px;
	top: -  100px;
	color: #00ff00;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.container {
	margin-left: 50px;
	padding: 50px 25px 75px 35px;
	width: 500px;
	height: 250px;
	background: #000;
	position: relative;
}